@font-face {
  font-family: 'Gotham Pro Light';
  src: url("/fonts/GothamPro-Light.eot");
  src: url("/fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamPro-Light.woff") format("woff"), url("/fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("/fonts/GothamPro-Bold.eot");
  src: url("/fonts/.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamPro-Bold.woff") format("woff"), url("/fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("/fonts/OpenSans-Regular.eot");
  src: url("/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-Regular.woff") format("woff"), url("/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("/fonts/OpenSans-Bold.eot");
  src: url("/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-Bold.woff") format("woff"), url("/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header,
section,
footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 calc(50vw - 1170px / 2);
  width: 100%;
}

h1 {
  font-family: 'Gotham Pro Light';
  text-transform: uppercase;
  font-size: 2.5em;
  z-index: 99;
}

h1 span {
  font-family: 'Gotham Pro Bold';
}

h2 {
  font-family: 'Gotham Pro Light';
  max-width: 70%;
  margin: 0;
  position: relative;
  font-size: 2em;
  z-index: 99;
}

h2 span {
  font-family: 'Gotham Pro Bold';
}

p {
  font-family: 'Open Sans Regular';
  z-index: 99;
  margin: 50px 0;
}

/* buttons */
button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 30px;
  border-radius: 22.45px;
  border: none;
  background-color: #aa4599;
  -webkit-box-shadow: 0 0 25px #e393d4;
          box-shadow: 0 0 25px #e393d4;
  font-family: 'Open Sans Bold';
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  z-index: 99;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  padding-bottom: 40px;
  background-image: url("../img/background-header-large.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.header .logo {
  display: block;
  width: 200px;
  margin-top: 100px;
  margin-bottom: 150px;
  z-index: 99;
}

.header__description {
  width: 550px;
  height: 60%;
}

/* sections */
.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 10px;
  padding-top: 150px;
  padding-bottom: 20px;
}

.section__description {
  max-width: 40%;
}

.section__image {
  max-width: 40%;
}

section h2::before {
  color: #854399;
  opacity: 0.5;
  position: absolute;
  top: -20px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-1 h2::before {
  content: 'for beginner traders';
}

.section-3 h2::before {
  content: 'gain trading experience';
}

.section-2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.section-2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.section-2 .item {
  text-align: center;
  width: 32%;
  margin-bottom: 2%;
  /* (100-32*3)/2 */
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer {
  height: 200px;
}

@media (max-width: 1170px) {
  header,
  section {
    padding-left: 10%;
    padding-right: 10%;
  }
  h2 {
    min-width: 100%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    width: 100%;
  }
  .header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-image: url("../img/background-header-small.jpg");
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .header__description {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 40px;
  }
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px;
    text-align: center;
  }
  .section__description {
    max-width: 100%;
    padding: 20px 0;
  }
  .section__image {
    max-width: 80%;
  }
  .section-2 .container {
    margin-top: 40px;
  }
  .section-2 .item {
    width: 49%;
    padding: 0 2%;
  }
  .section-2 .item img {
    width: 80px;
  }
}
/*# sourceMappingURL=style.css.map */