@font-face {
  font-family: 'Gotham Pro Light';
  src: url('/fonts/GothamPro-Light.eot');
  src: url('/fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamPro-Light.woff') format('woff'),
    url('/fonts/GothamPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('/fonts/GothamPro-Bold.eot');
  src: url('/fonts/.eot?#iefix') format('embedded-opentype'),
    url('/fonts/GothamPro-Bold.woff') format('woff'),
    url('/fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url('/fonts/OpenSans-Regular.eot');
  src: url('/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/OpenSans-Regular.woff') format('woff'),
    url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('/fonts/OpenSans-Bold.eot');
  src: url('/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/OpenSans-Bold.woff') format('woff'),
    url('/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

header,
section,
footer {
  box-sizing: border-box;
  padding: 0 calc(50vw - 1170px / 2);
  width: 100%;
}

h1 {
  font-family: 'Gotham Pro Light';
  text-transform: uppercase;
  font-size: 2.5em;

  span {
    font-family: 'Gotham Pro Bold';
  }
}

h2 {
  font-family: 'Gotham Pro Light';
  max-width: 70%;
  margin: 0;
  position: relative;
  font-size: 2em;

  span {
    font-family: 'Gotham Pro Bold';
  }
}

p {
  font-family: 'Open Sans Regular';
  z-index: 99;
  margin: 50px 0;
}

/* buttons */
button {
  width: max-content;
  padding: 10px 30px;
  border-radius: 22.45px;
  border: none;
  background-color: #aa4599;
  box-shadow: 0 0 25px #e393d4;
  font-family: 'Open Sans Bold';
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  z-index: 99;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url('../img/background-header-large.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;

  .logo {
    display: block;
    width: 200px;
    margin-top: 100px;
    margin-bottom: 150px;
    z-index: 99;
  }

  &__description {
    width: 550px;
    height: 60%;
    z-index: 99;
  }
}

/* sections */
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: max-content;
  margin-bottom: 10px;
  padding-top: 150px;
  padding-bottom: 20px;

  &__description {
    max-width: 35%;
  }

  &__image {
    max-width: 45%;
  }
}

section h2::before {
  color: #854399;
  opacity: 0.5;
  position: absolute;
  top: -30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-1 h2::before {
  content: 'for beginner traders';
}

.section-3 h2::before {
  content: 'gain trading experience';
}

.section-2 {
  flex-direction: column;
  text-align: center;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }

  .item {
    text-align: center;
    width: 32%;
    margin-bottom: 2%; /* (100-32*3)/2 */
    background-color: #fff;
    box-sizing: border-box;
  }
}

.footer {
  height: 200px;
}

@media (max-width: 1170px) {
  header,
  section {
    padding-left: 10%;
    padding-right: 10%;
  }

  h2 {
    min-width: 100%;
  }
}

@media (max-width: 600px) {
  .header {
    align-items: center;
    text-align: center;
    background-image: url('../img/background-header-small.jpg');

    &:after {
      content: '';
      display: block;
      background: black;
      opacity: 0.3;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &__description {
      width: 100%;
    }
  }

  .section {
    flex-direction: column;
    padding: 40px;
    text-align: center;

    h2::before {
      width: 100%;
    }

    &__description {
      max-width: 100%;
      padding: 40px 0;
    }

    &__image {
      max-width: 80%;
    }
  }

  .section-2 {
    .container {
      margin-top: 40px;
    }

    .item {
      width: 49%;
      padding: 0 5%;
    }
  }
}
